.wrapper {
  background-color: #323131;
  color: white;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  height: 100vh;
  .contact {
    width: 30%;
    h2 {
      font-family: "Beth Ellen";
      font-weight: lighter;
      text-align: center;
      font-size: 3em;
      margin: 45% 0;
    }
  }
  .footer-cello {
    width: 37%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 10% 20%;
    }
  }
}
