.wrapper {
  background-color: #323131;
  color: white;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  height: 100vh;
  .contact {
    padding: 100px 20px;
    width: 60%;
    h1 {
      font-family: "Beth Ellen";
      font-weight: lighter;
      text-align: center;
      font-size: 4em;
      margin: 10% 0 0 40%;
    }
  }
  .footer-cello {
    width: 40%;
    height: auto;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 5% 100%;
    }
  }
}
