.about {
  background-color: #323131;
  color: white;
  padding: 0 0 200px 0;
  min-width: 280px;
  #hero {
    width: 100%;
    height: 50vh;
    min-height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-bottom: 1px black solid;
    background-color: rgb(66, 66, 66);
  }
  h1 {
    font-family: "Beth Ellen";
    font-weight: lighter;
    text-align: center;
    font-size: 3.5em;
  }
  .the-luthier {
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
    .text {
      width: 35vw;
      max-width: 500px;
      font-size: 1.4em;
      font-family: "Calibri";
      font-weight: lighter;
      padding: 10px 60px;
    }
    #theLuthier {
      height: 100%;
      max-height: 650px;
      width: auto;
      margin: 50px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    }
  }
  #theluthiersitting {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
  }
  #theluthiersittingMobile {
    display: none;
  }
}

@media screen and (max-width: 1007px) {
  .about {
    #hero {
      min-height: 300px;
      height: 50vw;
      object-position: 60% 5%;
    }
    h1 {
      font-size: 1.8em;
    }
    .the-luthier {
      display: block;
      padding: 0;
      .text {
        width: 80vw;
        font-size: 1.2em;
        padding: 10px;
        margin: auto;
        p {
          margin: 0 0 20px 0;
        }
      }
      #theLuthier {
        height: auto;
        max-height: none;
        width: 50vw;
        min-width: 250px;
        display: block;
        margin: 20px auto;
      }
    }
    #theluthiersitting {
      display: none;
    }
    #theluthiersittingMobile {
      display: block;
      margin: 30px auto;
      height: auto;
      max-width: 500px;
      width: 80vw;
      min-width: 200px;
    }
  }
}
