<div class="about">
  <img id="hero" src="../../assets/aboutHero.png" alt="violin head" />
  <h1>About the Luthier</h1>
  <div class="the-luthier">
    <div class="text">
      <p>
        I started my journey into instrument making a few years after I bought
        my double bass. I caught a glimpse of the workshop and was immediately
        enamored by the smell of wood, all the intricate tools and various
        instruments in different stages of repair.
      </p>
      <p>
        Once I finished my BA in Art Education in Amsterdam I decided to
        relocate to Scotland and start my education in lutherie at the Glasgow
        Clyde college, where I required a national and higher national
        certificate in Violin Making and Repair. Being encouraged by the
        lecturers there I applied for the BA (Hons) Musical Instrument Craft
        Violin Making and Repair at the renowned Newark School of Violin Making
        in England. Graduating with First Class Honours at the end of the global
        pandemic in 2022.
      </p>
      <p>
        After Newark, I knew my heart belonged to Scotland and I had the
        opportunity to move back and join two fellow luthiers at The Storybook
        Instrument Workshop here in Glasgow. I am also a member of the British
        Violin Making Association. And to further my skills I was selected as a
        fellow in the Fellowship Programme run by The Women in Lutherie in the
        summer of 2022, where I was mentored by knowledgable Melenahe Martin in
        Baltimore, US.
      </p>
    </div>
    <img
      id="theLuthier"
      src="../../assets/theluthier.png"
      alt="Nina in the workshop"
    />
  </div>
  <img
    id="theluthiersitting"
    src="../../assets/theluthiersitting.jpg"
    alt="Nina sitting by her work desk"
  />
</div>
