@font-face {
  font-family: "Beth Ellen";
  src: url(assets/BethEllen-Regular.ttf);
}

body {
  margin: 0;
  min-width: 280px;
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
}
