<div class="footer">
  <ul>
    <li>
      <a href="mailto: nfpluthier01@gmail.com">
        <img
          src="../../assets/mail-with-circle-svgrepo-com.svg"
          alt="email icon"
        />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/nina.poots.7">
        <img
          src="../../assets/facebook-with-circle-svgrepo-com.svg"
          alt="facebook icon"
        />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/ninapootsluthier/">
        <img
          src="../../assets/instagram-with-circle-svgrepo-com.svg"
          alt="instagram icon"
        />
      </a>
    </li>
  </ul>
  <p>© Nina F. Poots Lutherie 2023</p>
</div>
