.footer {
  background-color: #272727;
  color: white;
  font-family: "Goorm";

  img {
    width: 60px;
  }
  ul {
    display: flex;
    list-style: none;
    width: 50%;
    margin: auto;
    padding: 60px 0 0 0;
    justify-content: center;
    li {
      padding: 20px;
    }
  }
  p {
    text-align: center;
    padding: 20px 0 30px;
    margin: 0;
  }
}

@media screen and (max-width: 1007px) {
  .footer {
    position: relative;
    img {
      width: 60px;
    }
    ul {
      display: flex;
      list-style: none;
      width: 50%;
      margin: auto;
      padding: 60px 0 0 0;
      justify-content: center;
      li {
        padding: 10px;
      }
    }
    p {
      text-align: center;
      padding: 20px 0 30px;
      margin: 0;
    }
  }
}
