.wrapper {
  background-color: #323131;
  color: white;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: left;
  min-height: 150vh;
  min-width: 280px;
  .contact {
    padding: 100px 20px 0;
    width: 50%;
    h1 {
      font-family: "Beth Ellen";
      font-weight: lighter;
      text-align: center;
      font-size: 2.5em;
    }
    .content {
      display: flex;
      font-family: "Calibri";
      justify-content: center;
      .form {
        max-width: 600px;
        width: 100%;
        padding: 20px;
        #instruction {
          font-weight: lighter;
          font-size: 1.4em;
          width: 85%;
          display: block;
          padding: 0 0 20px 0;
        }
        p {
          padding: 0;
          margin: 10px 0 3px 0;
        }
        input,
        textarea {
          background-color: #d9d9d9;
          border-radius: 3px;
          border-style: none;
          width: 90%;
          color: black;
        }
        input {
          height: 25px;
        }
        #button-div {
          text-align: right;
          width: 90%;
          button {
            font-size: 0.8em;
            width: 70px;
            height: 25px;
            border-radius: 5px;
            margin: 8px;
          }
          button:disabled {
            color: white;
          }
        }
        #add {
          text-align: left;
          width: 90%;
          margin: 0;
          button {
            font-size: 0.8em;
            width: 100px;
            height: 25px;
            border-radius: 5px;
            margin: 8px 0;
          }
          #added-image {
            display: block;
          }
        }
      }
      .contact-info {
        padding: 20px;
        min-width: 200px;
        div {
          padding: 10px;
        }
      }
    }
  }

  img {
    height: auto;
    width: 45%;
    object-fit: cover;
    object-position: 100% 100%;
  }
}

@media screen and (max-width: 1007px) {
  .wrapper {
    width: 100%;
    min-height: 100vh;
    .contact {
      padding: 100px 0px;
      width: 95%;

      h1 {
        font-size: 1.3em;
      }
      .content {
        display: block;
        .form {
          width: 90%;
          padding: 5px;
          margin: auto;
          #instruction {
            font-size: 1em;
            width: 80%;
            margin: auto;
          }
          p {
            padding: 10px 0 0;
            width: 80%;
            display: block;
            margin: auto;
          }
          input,
          textarea {
            width: 80%;
            color: black;
            display: block;
            margin: auto;
          }
          #button-div {
            width: 80%;
          }
          #add {
            text-align: left;
            width: 80%;
            margin: auto;
            button {
              font-size: 0.8em;
              width: 100px;
              height: 25px;
              border-radius: 5px;
              margin: 8px 0;
            }
          }
        }
      }
    }

    img {
      display: none;
    }
  }
}
