<div class="wrapper">
  <img src="../../assets/testimonialsSide.png" alt="" />
  <div class="contact">
    <h1>Your testimonial</h1>
    <div class="content">
      <div class="form">
        <p id="instruction">
          Please feel free to leave your testimonial. This helps both future
          clients and me to gain insight and feedback about the work and
          services I offer.
        </p>
        <form
          action="https://formsubmit.co/el/yeyanu"
          method="POST"
          enctype="multipart/form-data"
          onsubmit="document.getElementById('submit-btn').disabled = true, document.getElementById('submit-btn').innerHTML = 'Sending...' "
        >
          <p>Name</p>
          <input type="text" name="name" placeholder="" required />
          <p>Email</p>
          <input
            type="hidden"
            name="_next"
            value="https://ninapootsluthier.co.uk/thank-you"
          />

          <div class="col">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder=""
              required
            />
          </div>
          <div id="add">
            <button (click)="addImage()" type="button">Add an image</button>

            <div id="added-image"></div>
          </div>

          <input type="hidden" name="_subject" value="Testimonial" />

          <div class="form-group">
            <p>Message</p>
            <textarea
              placeholder=""
              name="message"
              rows="10"
              required
            ></textarea>
          </div>
          <div id="button-div">
            <button id="submit-btn" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
