.wrapper {
  background-color: #323131;
  color: white;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  min-height: 100vh;
  .contact {
    width: 60%;
    h1 {
      font-family: "Beth Ellen";
      font-weight: lighter;
      text-align: center;
      font-size: 3em;
      margin: 10% 0 0 40%;
    }
    .content {
      display: flex;
      font-family: "Goorm";
      padding: 0 30px;
      justify-content: right;
      .form {
        width: 55%;
        padding: 20px;
        #instruction {
          font-weight: lighter;
          font-size: 1.5em;
          width: 85%;
          display: block;
          padding: 0 0 20px 0;
        }
        p {
          padding: 0;
          margin: 10px 0 3px 0;
        }
        input,
        textarea {
          background-color: #d9d9d9;
          border-radius: 3px;
          border-style: none;
          width: 90%;
        }
        input {
          height: 25px;
        }
        #button-div {
          text-align: right;
          width: 90%;
          button {
            font-size: 0.8em;
            width: 70px;
            height: 25px;
            border-radius: 5px;
            margin: 8px;
          }
          button:disabled {
            color: white;
          }
        }
      }
      .contact-info {
        padding: 20px;
        min-width: 200px;
        div {
          padding: 10px;
        }
      }
    }
  }
  .footer-cello {
    width: 37%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 10% 20%;
    }
    .mobileCello {
      display: none;
    }
  }
}
@media screen and (max-width: 1007px) {
  .wrapper {
    display: block;
    z-index: 0;
    position: relative;
    .contact {
      width: 75%;
      margin: auto;
      h1 {
        font-size: 1.8;
        margin: auto;
        padding: 100px 0 0;
      }
      .content {
        display: block;
        justify-content: center;
        padding: 0 0 60vw;
        .form {
          width: 90%;
          padding: 0px;
          margin: auto;
          #instruction {
            font-size: 1.2em;
            width: 80%;
          }
        }
      }
    }
    .footer-cello {
      width: 100%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      img {
        object-position: 100% 100%;
      }
      .mobileCello {
        display: block;
      }
      .desktopCello {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    .contact {
      width: 85%;
      #contact-hours{
        margin-bottom: 45px;
      }
    }
  }
}
