.services {
  background-color: #323131;
  color: white;
  #hero {
    width: 100%;
    height: 50vh;
    min-height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-bottom: 1px black solid;
    background-color: rgb(66, 66, 66);
  }
  h1 {
    font-family: "Beth Ellen";
    font-weight: lighter;
    text-align: center;
    font-size: 3.5em;
  }
  .servicesContent {
    font-family: "Calibri";
    .information {
      font-weight: lighter;
      font-size: 1.5em;
      max-width: 750px;
      display: block;
      margin: auto;
      padding: 0 0 50px;
    }
    .separator {
      width: 100%;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.24);
    }
    .set-up-wrapper {
      padding: 30px;
      h2 {
        font-size: 2.2em;
        text-align: center;
        margin: auto;
        padding: 50px;
      }
      .set-up {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
        max-width: 90vw;
        .text {
          width: auto;
          max-width: 400px;
          font-size: 1.5em;
          font-weight: lighter;
          p {
            margin: 0 20px 20px 0;
          }
        }
        img {
          width: auto;
          max-width: 80vw;
          max-height: 300px;
          height: auto;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
        }
      }
      .table-wrapper {
        padding: 30px;
        th,
        tr,
        td {
          padding: 25px;
        }
        table {
          margin: auto;
          border-color: wheat;
          border-width: 1px;
          border-style: solid;
          border-collapse: collapse;
          min-width: 670px;
          width: 45%;
        }
        th {
          text-align: left;
          font-size: 1.2em;
        }
        td,
        th {
          border-bottom: 1px white solid;
        }
        td {
          text-align: center;
        }
        .instrumentTableHead {
          text-transform: uppercase;
          text-align: center;
        }
      }
    }

    .repair-wrapper {
      padding: 30px;
      h2 {
        font-size: 2.2em;
        text-align: center;
        margin: auto;
        padding: 50px;
      }
      .repair {
        width: 70%;
        font-size: 1.3em;
        font-weight: lighter;
        display: flex;
        margin: auto;
        justify-content: center;
        .repair-top {
          padding: 30px;
          width: auto;
          .repair-top-text {
            p {
              margin: 0 0 30px 0;
              width: 400px;
            }
          }
          img {
            height: auto;
            max-width: 400px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
          }
        }
        .repair-bottom {
          padding: 30px;
          .repair-bottom-text {
            p {
              margin: 30px 0 30px 0;
              width: 400px;
            }
          }
          img {
            height: auto;
            min-width: 300px;
            max-width: 400px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
          }
        }
      }
    }

    .commission-wrapper {
      padding: 30px;
      h2 {
        font-size: 2.2em;
        text-align: center;
        margin: auto;
        padding: 50px;
      }
      .commission {
        display: flex;
        width: 80%;
        max-width: 1000px;
        margin: auto;
        justify-content: center;
        img {
          height: 700px;
          max-width: 450px;
          width: 40%;
          object-fit: cover;
          object-position: 30% 100%;
          margin: 30px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
          display: block;
        }
        .commission-text {
          font-size: 1.5em;
          font-weight: lighter;
          width: auto;
          padding: 20px;
          margin: auto;
          p {
            margin: 0 0 20px 0;
          }
          table {
            padding: 30px 0 0 0;
            width: auto;
          }
          th {
            text-align: left;
          }
          th,
          td {
            padding: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1007px) {
  .services {
    padding: 0 0 50px 0;
    #hero {
      height: 40vh;
    }
    h1 {
      font-size: 1.8em;
    }

    .servicesContent {
      .information {
        font-size: 1.2em;
        width: 85%;
      }
      .set-up-wrapper {
        padding: 0px;
        h2 {
          font-size: 1.8em;
          padding: 20px;
        }
        .set-up {
          width: 80%;

          padding: 20px 0;
          .text {
            font-size: 1.1em;
          }
        }
        .table-wrapper {
          padding: 10px 0 50px;
          th,
          tr {
            padding: 0px;
          }
          td {
            padding: 10px 5px;
          }
          table {
            min-width: 0px;
            width: 80%;
          }
          th {
            font-size: 1em;
            padding: 5px;
          }
        }
      }

      .repair-wrapper {
        padding: 0px;
        h2 {
          font-size: 1.8em;
          padding: 20px;
        }
        .repair {
          width: 85%;
          max-width: 500px;
          font-size: 1.1em;
          display: block;
          padding: 0 0 50px 0;
          .repair-bottom,
          .repair-top {
            padding: 10px 0;
            .repair-bottom-text,
            .repair-top-text {
              p {
                margin: 0 0 20px 0;
                width: auto;
              }
            }
            img {
              min-width: 100px;
              max-width: 400px;
              width: 60vw;
              display: block;
              margin: auto;
            }
            #varnish {
              border-radius: 50%;
            }
            #carving {
              display: none;
            }
          }
        }
      }

      .commission-wrapper {
        padding: 0px;
        h2 {
          font-size: 1.8em;
          padding: 20px;
        }
        .commission {
          display: block;
          width: 80%;
          margin: auto;
          img {
            height: auto;
            width: 50vw;
            object-position: 30% 0px;
            margin: 30px auto;
            display: block;
          }
          .commission-text {
            font-size: 1.1em;
            width: 80vw;
            padding: 10px;
            max-width: 500px;
            table {
              margin: auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 660px) {
  .services {
    .servicesContent {
      .set-up-wrapper {
        .set-up {
          display: block;
          .text,
          img {
            margin: auto;
            display: block;
          }
        }
        .table-wrapper {
          th,
          tr,
          td {
            padding: 1px;
          }
          th {
            padding: 5px;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .services {
    .servicesContent {
      .set-up-wrapper {
        .table-wrapper {
          th,
          tr,
          td {
            padding: 1px;
          }
          th {
            padding: 5px;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
