<div class="services">
  <img id="hero" src="../../assets/servicesHero.png" alt="piece of violin" />
  <h1>Services</h1>
  <div class="servicesContent">
    <div class="information">
      <p>
        On this page there is more information about the different Services I
        offer in my workshop. Considering each instrument is different I work on
        appointment base only. This allows me to have a  good look at the
        instrument and find out what your needs are as a player.
      </p>
      <p>
        Below are some prices stated for the most common repairs and alterations
        I find on my workbench on the daily.  However each instrument and each
        player is different when it comes to more complex repairs and 
        restorations.
      </p>
      <p>
        Therefore I don’t give price estimations for restoration or repairs
        beforehand, I prefer making a full  condition report that shows a
        detailed breakdown of the total cost. The condition report is entirely 
        without any strings attached, but it acts as a tool to create
        transparency. 
      </p>
      <p>Head over to the contact page to make an appointment.</p>
    </div>
    <div class="separator"></div>
    <div class="set-up-wrapper">
      <h2>Instrument set up services </h2>
      <div class="set-up">
        <div class="text">
          <p>
            Each musician and their instrument deserve to reach their full
            potential: which is reflected in a well  set up instrument.
          </p>
          <p>
            Below is a list of things that can be done to improve the quality of
            the set up on  the instrument and their cost.
          </p>
        </div>
        <img
          src="../../assets/fellowship photo.webp"
          alt="Nina working on a violin"
        />
      </div>
      <div class="table-wrapper">
        <table>
          <tr>
            <th></th>
            <th class="instrumentTableHead">Violin/viola</th>
            <th class="instrumentTableHead">Cello</th>
            <th class="instrumentTableHead">Double bass</th>
          </tr>
          <tr>
            <th>New bridge</th>
            <td>£95</td>
            <td>£230</td>
            <td>£420</td>
          </tr>
          <tr>
            <th>Adjust string height</th>
            <td>£45</td>
            <td>£95</td>
            <td>£95</td>
          </tr>
          <tr>
            <th>New sound post</th>
            <td>£75</td>
            <td>£115</td>
            <td>£165</td>
          </tr>
          <tr>
            <th>Refit old pegs</th>
            <td>£35</td>
            <td>£160</td>
            <td>n.a.</td>
          </tr>
          <tr>
            <th>Fit new pegs</th>
            <td>£90</td>
            <td>£225</td>
            <td>
              £210 + cost <br />
              new tuners
            </td>
          </tr>
          <tr>
            <th>Refit old end pin</th>
            <td>£25</td>
            <td>£60</td>
            <td>£75</td>
          </tr>
          <tr>
            <th>Fit new end pin</th>
            <td>£55</td>
            <td>
              £90 + cost <br />
              new end pin
            </td>
            <td>
              £90 + cost <br />
              new end pin
            </td>
          </tr>
          <tr>
            <th>New tailpiece</th>
            <td>£65</td>
            <td>£185</td>
            <td>£345</td>
          </tr>
          <tr>
            <th>
              Sound adjustment* <br />
              per 30 minutes
            </th>
            <td>£20</td>
            <td>£35</td>
            <td>£35</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="separator"></div>
    <div class="repair-wrapper">
      <h2>Repair and restoration</h2>
      <div class="repair">
        <div class="repair-top">
          <div class="repair-top-text">
            <p>
              As a violin maker I am passionate about instruments and their
              history, because they influence my own new instruments that I
              build in the workshop.
            </p>
            <p>
              If you have an instrument that needs to be repaired or fully
              restored, please don’t hesitate to make an appointment.
            </p>
          </div>
          <img
            src="../../assets/Varnish touch up cropped.webp"
            alt="before and after varnish touch up"
          />
        </div>
        <div class="repair-bottom">
          <img src="../../assets/carving tool.webp" alt="carving tool" />
          <div class="repair-bottom-text">
            <p>
              The initial appointment is almost like a doctor's appointment: I
              shall evaluate what you and your  instrument need.
            </p>
            <p>
              After that there is a conversation about the total cost and once
              that has the clients  greenlight, I shall start the work.
            </p>
            <p>
              Payment plans for more extensive repairs and restoration can be 
              discussed beforehand as well.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="commission-wrapper">
      <h2>Instrument Commission</h2>
      <div class="commission">
        <div class="commission-text">
          <p>
            Want a handmade instrument to call your own? <br />
            I can make one just for you!
          </p>
          <p>
            Commissioning the  build of an instrument is a wonderful investment:
            from selecting the highest quality woods, which  model the
            instrument will be based on, to the final set up to get the perfect
            instrument to suit your  musical needs. 
          </p>
          <p>
            Want to know more? Go to the contact page to make an appointment for
            an instrument commission.
          </p>
          <table>
            <tr>
              <th>Violin commission:</th>
              <td>£6000</td>
            </tr>
            <tr>
              <th>Viola commission:</th>
              <td>£7500</td>
            </tr>
            <tr>
              <th>Cello commission:</th>
              <td>£15.000</td>
            </tr>
            <tr>
              <th>Double bass commission:</th>
              <td>£18.500</td>
            </tr>
          </table>
        </div>
        <img src="../../assets/Ebony shavings.webp" alt="ebony shavings" />
      </div>
    </div>
  </div>
</div>
