<div class="services">
  <img id="hero" src="../../assets/servicesHero.png" alt="piece of violin" />
  <h1>Services</h1>
  <div class="servicesContent">
    <div class="information">
      <p>
        On this page there is more information about the different Services I
        offer in my workshop. Considering each instrument is different I work on
        appointment base only. This allows me to have a  good look at the
        instrument and find out what your needs are as a player.
      </p>
      <p>
        Below are some prices stated for the most common repairs and alterations
        I find on my workbench on the daily.  However each instrument and each
        player is different when it comes to more complex repairs and 
        restorations.
      </p>
      <p>
        Therefore I don’t give price estimations for restoration or repairs
        beforehand, I prefer making a full  condition report that shows a
        detailed breakdown of the total cost. The condition report is entirely 
        without any strings attached, but it acts as a tool to create
        transparency. 
      </p>
      <p>Head over to the contact page to make an appointment.</p>
    </div>
    <div class="separator"></div>
  </div>
</div>
