@import "../../styles.scss";

#desktop-menu {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #323131;
  border-bottom: 1px black solid;
  i {
    display: none;
  }
  a,
  a:visited {
    text-decoration: none;
    color: white;
  }
  .logo {
    display: flex;
    #logo-img {
      width: 50px;
      padding: 10px;
    }
    #logo-text {
      padding: 10px;
      p {
        margin: -5px;
        font-family: "Beth Ellen";
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
    li {
      margin: 25px;
      font-family: "Calibri";
      height: 20px;
      .on-page {
        text-decoration-line: overline;
        text-decoration-color: rgba(255, 255, 255, 0.486);
      }
    }
    li:hover {
      text-decoration-line: underline;
      text-underline-offset: 7px;
      text-decoration-color: rgba(255, 255, 255, 0.486);
    }
    #instagram {
      max-width: 30px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1007px) {
  #desktop-menu {
    padding: 0;

    ul {
      display: none;
    }
    .logo {
      display: flex;
      #logo-img {
        width: 50px;
        padding: 10px;
      }
    }

    #mobile {
      position: absolute;
      top: 0x;
      right: 0px;
      .fa-bars {
        display: block;
        padding: 15px;
        font-size: 3em;
        color: rgba(255, 255, 255, 0.733);
      }
    }
  }

  .overlayMenu {
    display: block;
    width: 100vw;
    height: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #323131;
    overflow-x: hidden;
    transition: 0.5s;
    .fa-x {
      display: block;
      padding: 15px;
      font-size: 3em;
      text-align: right;
      color: rgba(255, 255, 255, 0.733);
    }
  }
  .mobmenu {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: "Calibri";
    text-transform: uppercase;
    font-size: 5vmax;
    a,
    a:visited {
      display: block;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.733);
      margin: 0 auto 5%;
    }
  }
}
