<div id="desktop-menu">
  <div class="logo">
    <a routerLink="/home" (click)="toTop()" routerLinkActive="on-page">
      <img id="logo-img" src="../../assets/invertedLogo.PNG" alt="" />
    </a>
    <a routerLink="/home" (click)="toTop()" routerLinkActive="on-page">
      <div id="logo-text">
        <p>Nina F. Poots</p>
        <p>Lutherie</p>
      </div>
    </a>
  </div>
  <ul>
    <li>
      <a routerLink="/home" (click)="toTop()" routerLinkActive="on-page">
        Home</a
      >
    </li>
    <li>
      <a routerLink="/about" (click)="toTop()" routerLinkActive="on-page">
        About</a
      >
    </li>
    <li>
      <a routerLink="/instruments" (click)="toTop()" routerLinkActive="on-page">
        Instruments</a
      >
    </li>
    <li>
      <a routerLink="/services" (click)="toTop()" routerLinkActive="on-page">
        Services</a
      >
    </li>
    <li>
      <a routerLink="/contact" (click)="toTop()" routerLinkActive="on-page">
        Contact</a
      >
    </li>
    <li>
      <a href="#">
        <img id="instagram" src="../../assets/menuInsta.png" alt="" />
      </a>
    </li>
  </ul>
</div>
