@import "../../styles.scss";

#desktop-menu {
  display: flex;
  min-width: 1000px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #323131;
  border-bottom: 1px black solid;
  a,
  a:visited {
    text-decoration: none;
    color: white;
  }
  .logo {
    display: flex;
    #logo-img {
      width: 50px;
      padding: 10px;
    }
    #logo-text {
      padding: 10px;
      p {
        margin: -5px;
        font-family: "Beth Ellen";
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
    li {
      padding: 25px;
      font-family: "Calibri";
      .on-page {
        text-decoration-line: overline;
        text-decoration-color: rgba(255, 255, 255, 0.486);
      }
    }
    li:hover {
      text-decoration-line: underline;
      text-underline-offset: 7px;
      text-decoration-color: rgba(255, 255, 255, 0.486);
    }
    #instagram {
      max-width: 30px;
      height: auto;
    }
  }
}
