<div id="desktop-menu">
  <div class="logo">
    <a routerLink="/home" routerLinkActive="on-page">
      <img id="logo-img" src="../../assets/invertedLogo.PNG" alt="" />
    </a>
    <a routerLink="/home" routerLinkActive="on-page">
      <div id="logo-text">
        <p>Nina F. Poots</p>
        <p>Lutherie</p>
      </div>
    </a>
  </div>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="on-page"> Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="on-page"> About</a>
    </li>
    <li>
      <a routerLink="/instruments" routerLinkActive="on-page"> Instruments</a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="on-page"> Services</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="on-page"> Contact</a>
    </li>
    <li>
      <a href="#">
        <img id="instagram" src="../../assets/menuInsta.png" alt="" />
      </a>
    </li>
  </ul>
</div>
