<div id="desktop-menu">
  <div class="logo">
    <a routerLink="/home" (click)="toTop()" routerLinkActive="on-page">
      <img id="logo-img" src="../../assets/invertedLogo.PNG" alt="NFP logo" />
    </a>
    <a routerLink="/home" (click)="toTop()" routerLinkActive="on-page">
      <div id="logo-text">
        <p>Nina F. Poots</p>
        <p>Lutherie</p>
      </div>
    </a>
  </div>
  <ul>
    <li>
      <a routerLink="/home" (click)="toTop()" routerLinkActive="on-page">
        Home</a
      >
    </li>
    <li>
      <a routerLink="/about" (click)="toTop()" routerLinkActive="on-page">
        About</a
      >
    </li>
    <li id="instruments-dropdown-title">
      <a  [ngClass]="{'on-page': child1RLA.isActive || child2RLA.isActive}">
        Instruments</a
      >
      <ul id="instruments-dropdown-list">
        <li><a routerLink="/instruments" (click)="toTop()" #child1RLA="routerLinkActive" routerLinkActive="on-page-dropdown">Made by Me</a></li>
        <li><a routerLink="/trade-instruments" (click)="toTop()" #child2RLA="routerLinkActive" routerLinkActive="on-page-dropdown">Trade Instruments</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/services" (click)="toTop()" routerLinkActive="on-page">
        Services</a
      >
    </li>
    <li>
      <a routerLink="/contact" (click)="toTop()" routerLinkActive="on-page">
        Contact</a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/ninapootsluthier/">
        <img
          id="instagram"
          src="../../assets/instagram-svgrepo-com.svg"
          alt="instagram icon"
        />
      </a>
    </li>
  </ul>
  <div id="mobile">
    <i (click)="openMenu($event)" class="fa-solid fa-bars"></i>
  </div>
</div>
<div class="overlayMenu" id="myNav">
  <i (click)="closeMenu($event);closeDropdown($event)" class="fa-solid fa-x"></i>
  <div class="mobmenu">
    <a routerLink="/home" (click)="closeAndTop($event)">Home</a>
    <a routerLink="/about" (click)="closeAndTop($event)">About</a>
    <a (click)="openDropdown($event)" id="dropdown-instruments-title">Instruments</a>
      <ul id="mob-instruments-dropdown-list">
        <li><a routerLink="/instruments" (click)="closeAndTop($event);closeDropdown($event)">Made by Me</a></li>
        <li><a routerLink="/trade-instruments" (click)="closeAndTop($event);closeDropdown($event)">Trade Instruments</a></li>
      </ul>
    <a routerLink="/services" (click)="closeAndTop($event)">Services</a>
    <a routerLink="/contact" (click)="closeAndTop($event)">Contact</a>
    <a href="https://www.instagram.com/ninapootsluthier/">
      <img
        id="instagram"
        src="../../assets/instagram-svgrepo-com.svg"
        alt="instagram icon"
      />
    </a>
  </div>
</div>
