<div class="instruments">
  <img
    id="hero"
    src="../../assets/Hero/instrumentsHero.jpg"
    alt="shaped block"
  />
  <h1>Instruments</h1>
  <div class="instrumentsContent">
    <div class="information">
      <p>
        Here you can see all the instruments I have made in my career thus far,
        with  information such as which model it is based on and what wood it is
        made of. And most importantly  if they are available to purchase or not,
        either directly from my workshop or which Violin shop/dealer you can
        find them. 
      </p>
      <p>
        Want to try one out? Fill in the form on the contact page and secure an
        appointment.
      </p>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Lilith/cello front.jpg"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Lilith/Scroll detail.jpg"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Lilith/cello back.jpg"
          alt=""
        />
      </div>
      <div>
        <h3>Cello ‘Lilith’</h3>
        <p class="sale">Not for sale/gifted to a friend</p>
        <p>Based on the 1717 Pietro Giacomo Rogeri Cello</p>
        <ul>
          <li>Wide grained alpine spruce top</li>
          <li>Plain maple sides and neck</li>
          <li>Poplar back</li>
          <li>Ebony fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin1/DSCF0301.jpg"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin1/DSCF0302.jpg"
          alt=""
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Violin1/DSCF0293.jpg"
          alt=""
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Violin1/DSCF0295.jpg"
          alt=""
        />
      </div>
      <div>
        <h3>Violin</h3>
        <p class="sale">For sale at Tim Wright Fine Violins in Edinburgh</p>
        <p>Based on "The Messiah" Antonio Stradivarius violin</p>
        <ul>
          <li>Alpine spruce front</li>
          <li>Plain maple back, side and neck</li>
          <li>Ebony fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin2/IMG_4651.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin2/IMG_4653.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin2/IMG_4658.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin2/IMG_4660.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Violin2/IMG_4661.JPG"
          alt=""
        />
      </div>
      <div>
        <h3>Violin</h3>
        <p class="sale">Sold!</p>
        <p>Based on "The Messiah" Antonio Stradivarius violin</p>
        <ul>
          <li>Alpine spruce front</li>
          <li>Flamed maple back, sides and neck</li>
          <li>Poplar back</li>
          <li>Ebony fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0280.jpg"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0281.jpg"
          alt=""
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0262.jpg"
          alt=""
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0272.jpg"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0273.jpg"
          alt=""
        />
      </div>
      <div>
        <h3>Violin 'Cain'</h3>
        <p class="sale">For sale at Storybook Instrument Workshop in Glasgow</p>
        <p>Based on the "Kruse" Antonio Stradivarius violin</p>
        <ul>
          <li>Romanian spruce front</li>
          <li>Flamed sycamore back, sides and neck</li>
          <li>Ebony fittings</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div (click)="close($event)" id="shower">
  <div class="viewed">
    <span (click)="close($event)" class="close">&times;</span>
    <img src="" id="viewed-image" />
  </div>
</div>
