@import "../../styles.scss";

.home {
  background-color: #323131;
  color: white;
  .hero {
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: 10% 5%;
      border-bottom: 1px black solid;
      background-color: rgb(66, 66, 66);
    }
    h1 {
      position: absolute;
      color: black;
      top: 100px;
      left: 100px;
      font-size: 10vh;
      font-family: "Beth Ellen";
      font-weight: normal;
      text-shadow: 1px 1px white;
    }
  }
  h2 {
    font-family: "Beth Ellen";
    font-weight: lighter;
    text-align: center;
    font-size: 3.5em;
  }
  .workshop {
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
    .text {
      width: 35vw;
      max-width: 600px;
      font-size: 1.4em;
      font-family: "Calibri";
      font-weight: lighter;
      padding: 10px 60px;
    }
    img {
      height: 100%;
      max-height: 550px;
      width: auto;
      margin: 40px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    }
  }
  .testimonials-wrapper {
    img {
      width: 100%;
      max-width: 100vw;
      height: auto;
    }
    .text {
      padding: 30px;
    }
    h2 {
      margin: 0;
      padding: 30px;
    }

    .testimonial {
      width: auto;
      max-width: 950px;
      margin: auto;
      padding: 5vmin 0;
      p {
        font-family: "Calibri";
        margin: 0;
        padding: 10px;
        line-height: 25px;
        font-size: 1.2em;
      }
      .images {
        display: flex;
        justify-content: center;
        img {
          height: 300px;
          width: auto;
          margin: 20px;
        }
        img:hover {
          cursor: pointer;
        }
        .landscape {
          height: 200px;
          width: auto;
        }
      }
    }
    .testimonials-btn {
      text-align: center;
      padding: 30px;
      a,
      a:visited {
        color: white;
        font-size: 1.6em;
        text-decoration: none;
        font-family: "Beth Ellen";
      }
    }
  }
}
#shower {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 7vmin; /* Location of the box */
  left: 0;
  top: 0;
  right: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.623); /* Black w/ opacity */
  #viewed-image {
    width: auto;
    margin: auto;
    display: block;
  }
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1007px) {
  .home {
    .hero {
      img {
        width: 100vw;
        height: 40vh;
        object-position: 60% 5%;
      }
      h1 {
        display: none;
      }
    }
    h2 {
      font-size: 1.8em;
    }
    .workshop {
      display: block;
      .text {
        width: 80%;
        font-size: 1.2em;
        padding: 5px;
        margin: auto;
      }
      img {
        height: auto;
        width: 70vw;
        margin: auto;
        display: block;
      }
    }
    .testimonials-wrapper {
      img {
        height: auto;
        width: 100vw;
        margin: 0;
      }
      h2 {
        padding: 0px;
        font-size: 1.8em;
      }

      .testimonial {
        width: 90%;
        p {
          padding: 10px 0px;
        }
        .images {
          display: block;
          img {
            height: auto;
            display: block;
            width: 50vw;
            margin: 30px auto;
          }
          .landscape {
            height: auto;
            width: 70vw;
            margin: 30px auto;
          }
        }
      }
    }
  }
}
