<div class="home">
  <div class="hero">
    <img
      src="../../assets/homeHero.png"
      alt="picture of instrument making tool"
    />
    <h1>Nina F. Poots Lutherie</h1>
  </div>
  <h2>The Workshop</h2>
  <div class="workshop">
    <div class="text">
      <p>
        Making new instruments in the violin family I combine traditional craft,
        the best quality woods and professional set up in order to make
        instruments with individual beauty and good tonal qualities that will
        last a lifetime. It brings me great joy to see my instruments go out
        into the world and into the hands of players, who breathe life into
        them.
      </p>
      <p>
        Besides making new instruments I also offer sound adjustments and
        instrument repair/restoration. Being able to help the musicians get the
        best out of their instrument, both in playability and in sound is
        crucial in this profession. I help a variety of players, from beginners
        in school, to professionals in the concert hall, to the folk player down
        the local pub.
      </p>
      <p>
        As a queer woman myself, I strive to have a safe and welcoming
        environment in the workshop. Having open and honest dialogue with my
        clients about their instruments and their needs is my highest priority.
        The workshop is based in Govanhill and easily accessible by public
        transport and car, with parking available. Because it is a shared
        workspace with Abacus Modelmakers we are based in the mezzanine area of
        the unit. If needed I can also have meetings on the ground floor to
        prevent the stairs entirely.
      </p>
    </div>
    <img
      src="../../assets/workshop.jpg"
      alt="tools hanging on workshop shelf"
    />
  </div>
  <div class="testimonials">
    <img src="../../assets/shavingsDivider.png" alt="spruce shavings" />
    <div class="text">
      <h2>Testimonials</h2>
    </div>
  </div>
</div>
