<div class="home">
  <div class="hero">
    <img
      src="../../assets/Hero/homeHero.jpg"
      alt="A thumb plane on top of cello back plate"
    />
    <h1>
      Nina F. Poots <br />
      Lutherie
    </h1>
  </div>
  <h2>The Workshop</h2>
  <div class="workshop">
    <div class="text">
      <p>
        Making new instruments in the violin family I combine traditional craft,
        the best quality woods and professional set up in order to make
        instruments with individual beauty and good tonal qualities that will
        last a lifetime. It brings me great joy to see my instruments go out
        into the world and into the hands of players, who breathe life into
        them.
      </p>
      <p>
        Besides making new instruments I also offer sound adjustments and
        instrument repair/restoration. Being able to help the musicians get the
        best out of their instrument, both in playability and in sound is
        crucial in this profession. I help a variety of players, from beginners
        in school, to professionals in the concert hall, to the folk player down
        the local pub.
      </p>
      <p>
        As a queer woman myself, I strive to have a safe and welcoming
        environment in the workshop. Having open and honest dialogue with my
        clients about their instruments and their needs is my highest priority.
        The workshop is based in Govanhill and easily accessible by public
        transport and car, with parking available. Because it is a shared
        workspace with Abacus Modelmakers we are based in the mezzanine area of
        the unit. If needed I can also have meetings on the ground floor to
        prevent the stairs entirely.
      </p>
    </div>
    <div>
      <img
        loading="lazy"
        src="../../assets/workshop.WebP"
        alt="tools hanging on workshop shelf"
      />
      <div class="credit">
        <p class="credit-text">Photo by Dafni Michalaki</p>
        <a href="https://www.instagram.com/dam_photogrr/">
          <img
            class="credit-link"
            src="../../assets/instagram-svgrepo-com.svg"
            alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="testimonials-wrapper">
    <img
      loading="lazy"
      src="../../assets/shavingsDivider.png"
      alt="spruce shavings"
    />
    <div class="text">
      <h2>Testimonials</h2>
      <div class="separator"></div>
      <div class="testimonial">
        <p>
          "Nina did a wonderful job servicing my violin - it sounds the best it has in years after I brought it in for a soundpost readjustment, new bridge and strings and maintenance TLC.</p>
        <p>
          Nina was so helpful and wonderful to work with - it was fascinating to be informed of how my (very old!) violin was doing, including things to keep an eye on and what work might need done in upcoming years.
It's so clear that Nina loves this craft and I'm so happy to have had someone so diligent and skilled bring my violin back to full health. Thanks!”
          <strong>– Niamh Bloomer </strong>
        </p>
      </div>
      <div class="separator"></div>
      <div class="testimonial">
        <p>
          "I first met Nina at the Niel Gow festival and discovered that her workshop was not too far from me. 
          As my fiddle was sounding a bit "dull" I decided to pay her a visit. 
          After a thorough examination and listen she suggested a soundpost adjustment. 
          As an adult learner I loved her clear and generous explanation of all the 
          component parts that make up the sound,   the physics of it is fascinating.  
          This adjustment clearly freed up the sound and made my fiddle more resonant.</p>
        <p>
          Another possibility to enhance the tone was to change the tailpiece, options and costs were talked through with no obligation.  
          I have since had this done and I find myself delighted again at the improvements both in tone, positive feedback and playability. 
          Nina's passion and intuition is obvious and her expertise has allowed me to get the best from my fiddle, I look forward to playing it more than ever.”
          <strong>– Caroline Fagan </strong>
        </p>
      </div>
      <div class="separator"></div>
      <div class="testimonial">
        <p>
          "I have a Violin that was made by my Great Grandfather and decided it
          was time for the Violin to have some repair and setup works completed.
          I had been searching for a while for someone who was professional,
          passionate and sympathetic, both to the age of the Violin and its
          story. After all, my Violin is far from valuable in terms of monetary
          value however its value in terms of sentimental value is extremely
          high for me. After having spoken to other luthiers, none of whom
          really got my passion for the Violin, or I felt they priced themselves
          out of the job. I was told about a young woman who had not long
          started out in a workshop in Glasgow and decided to get in contact
          with her.
        </p>
        <p>
          Right from the get-go, Nina was clearly very passionate about her work
          and as we discussed my needs and her thoughts on the needs of the
          Violin it became clear that Nina had a sympathetic approach to the
          repair and setup of my Violin. Se was very clear and concise with her
          quote and very professional with our communications surrounding my
          budget, what urgently needed attention and changes to the quote.
        </p>
        <p>
          After Nina completed the agreed work on my Violin, I picked it up from
          her workshop and I have to say that as soon as I saw it, I was
          delighted. From the sound quality to its playability and how it looks,
          it is a joy.
        </p>
        <p>
          I am so glad I had Nina complete the works to this Violin. I will have
          no hesitation in asking her to complete more works on my Violin when
          required and would recommend Nina in a heartbeat. In-fact, I have a
          second Violin that was built by my Great Grandfather that has been put
          poorly together by someone needing major works to put it right. I
          will, if I come into some money, be asking Nina to cast her
          Professional, Sympathetic and Passionate eye over this Violin.
        </p>
        <p>
          Thank you, Nina, for your valued work. Playing my Violin is a joy and
          your works have been praised by a professional player who teaches for
          the Scottish Conservatoire of Music. He has always showed a keen
          interest in my Violin and its story." <strong> – Rob Cairns</strong>
        </p>
        <div class="images">
          <img
            (click)="enlarge($event)"
            src="../../assets/Testimonials/Great Grandad Robert Cairns.jpg"
            alt="Black and white picture of Robert Cairn's great hrandfather "
          />
          <img
            (click)="enlarge($event)"
            src="../../assets/Testimonials/Violin Rob Cairns.jpg"
            alt="Violin bridge"
          />
        </div>
      </div>
      <div class="separator"></div>
      <div class="testimonial">
        <p>
          “I purchased a new violin from Nina in June 2022 and haven't regretted
          it for one instant. The sound is warm and mellow and the instrument is
          easy to play. Nina took the time to set it up the way that suited me
          best. I have had numerous compliments from other players and
          professional musicians who have tried it have all been impressed. I
          look forward to playing it for many, many years.”
          <strong>– Gillian Smith </strong>
        </p>
        <div class="images">
          <img
            class="landscape"
            (click)="enlarge($event)"
            src="../../assets/Testimonials/Violin Gillian Smith.jpg"
            alt="Violin lying on it's side"
          />
        </div>
      </div>
      <div class="separator"></div>
      <div class="testimonial">
        <p>
          “I took my fiddle to Nina initially to get my fingerboard sorted out,
          and to investigate a problem I was having with the nut (my E string
          kept breaking). She noticed that my endpin was inching out of the
          violin, so sorted that out for me as well.
        </p>
        <p>
          I took my violin back to her later for more work, and she fitted me a
          new bridge, sorted out my pegs and best of all a new soundpost. My
          fiddle sounds better than ever now; her work really opened the sound
          up and brought it a new life!
        </p>
        <p>
          Every time I’ve brought my fiddle to her, Nina has been very helpful
          and generous with information, letting me know when she found
          something wrong with my instrument and giving me options for fixing it
          or leaving it. I’m so happy to have found someone nearby & easy to get
          to who I can trust with my violin! She let me use one of her violins
          while mine was in her workshop, and it was so lovely I was worried I’d
          hate my own when I got it back - if I was in the market for a new
          instrument I’d be looking at hers for sure!”
          <strong>– Madeleine Stewart</strong>
        </p>
        <div class="images">
          <img
            (click)="enlarge($event)"
            src="../../assets/Testimonials/Violin Madeleine Stewart.jpg"
            alt="Before and after of a violin's fingerboard"
          />
        </div>
      </div>
      <div class="separator"></div>
      <div class="testimonials-btn">
        <a (click)="toTop()" routerLink="/testimonials">
          Want to write a testimonial? Click here.
        </a>
      </div>
    </div>
  </div>
</div>
<div (click)="close($event)" id="shower">
  <div class="viewed">
    <img src="" id="viewed-image" />
    <p id="click-close">Click anywhere to close image</p>
  </div>
</div>
